@model IEnumerable<ShowCartViewModel>
    <div class="panel panel-default">
        <div class="panel-heading">سبد خرید شما</div>
        <div class="panel-body">
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <div class="row" style="margin-top:3px">
                        <div class="col-md-4">
                            <img src="/Images/@item.ImageName" class="thumbnail" style="max-width:100%" />
                        </div>
                        <div class="col-md-8">
                            <h5>@item.Title <span class="badge">@item.Count</span></h5>
                        </div>
                    </div>
                }
            }

            else
            {
                <p class="text-muted text-center"> سبد خرید خالی است</p>
            }
            @if (Model.Any())
            {
                <div class="panel-footer">
                    <a asp-action="ShowOrder" asp-controller="Orders" class="btn btn-success btn-block">نمایش فاکتور</a>
                </div>
            }
        </div>
        </div>
